
@font-face {
	font-family: 'Sarabun';
	src: url('../font/Sarabun.ttf');
	font-weight: 400;
	font-size: 1em;
}

@font-face {
	font-family: 'TextMeOne';
	src: url('../font/TextMeOne.ttf');
	font-weight: 400;
	font-size: 1em;
}

body {
	font-family: Sarabun, 'Open Sans', sans-serif; 
}

.menu {
	background-color: #5599ff;
}

#top_menu {
	display: none;
}

#slide1 {
	padding: 60px 0;
}

#slide1 #bottom_menu {
	position: absolute;
	bottom: 50px;
	color: #f2f2f2;
}

.navigation li {
	font-family: TextMeOne;
	font-size: 1.5em;
	padding: 0;
	margin-right: 50px;
}

.navigation li:hover {
	font-weight: bold;
	color: #ffffff;
}


.navigation .active {
	border-bottom-width: thick;
	border-bottom-style: solid;
	color: #ffffff;
}

.navigation .active span {
	border-bottom-width: thick;
	border-bottom-style: solid;
}

#logo img {
	height: 50px;
}

#top_menu {
	color: #f2f2f2;
}

a:link {
	color: #f2f2f2;
}